body {
  background-image: url("../img/chrome.png");
  max-width: 100%;
  background-repeat: repeat;
  background-color: #e9a9fa;
  background-attachment: fixed;
}

section {
  background-color: #fad7dd;
  padding: 20px;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "header  header"
  "nav     main"
  "footer  footer";
  grid-gap: 10px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin-left: 20px;
  background-color: black;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: #fad7dd;
  grid-area: footer;
  padding-left: 20px;
  width: 900px;
  margin-left: 20px;
  margin-right: 20px;
}

main,
figure,
img {
  width: 500px;
  margin-right: 1px;
}

main,
section {
  width: 573px;
}

media,
figure {
  width: 500px;
  margin-left: 0px;
}

tmh,
img {
  margin-left: 40px;
  width: 500px;
}

h1 {
  font-family: "Bungee Shade", "Arial", "Helvetica", cursive;
  font-size: 60px;
  color: #222;
  background-color: white;
  margin: 30px 20px  0px;
  padding-bottom: 0px;
  padding-left: 20px;
}

nav ul {
  padding-left: 0;
  font-family: "Advent Pro", "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  list-style-type: none;
  text-transform: uppercase;
}

nav li {
  font-size: 30px;
  margin: 20px 20px 20px;
}

a:link {
  color: #bd4529;
  text-decoration: none;
}

a:visited {
  color: #cb5132;
}

a:hover {
  box-shadow: 0 5px #7ab07f;
  color: #b6ded4;
}

a:active {
  color: rgb(255,255,255);
}

h2 {
  font-family: 'Advent Pro', sans-serif;
  background-color: #b6ded4;
  max-width: 920px;
}

h3 {
  font-family: 'Advent Pro', sans-serif;
}

main,
umtv {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "television-station  television-station"
  "unimiami            spotsdesk";


}
#television-station {

}

#unimiami {
  grid-area: unimiami;
}

#sportsdesk {
  grid-area: sportsdesk;
}

#skills {
  grid-area: skills;
}
